body {
    font-family: Arial, sans-serif;
    background-color: #8c9ca9;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    background-color: #e5e7eb;
    padding: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: 600px;
    height: 400px;
}

.form img {
    width: 150px;
    height: auto;
    margin-right: 30px;
}

.form-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-content input[type="text"] {
    margin-bottom: 10px;
    padding: 15px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.form-content input[type="text"]:focus {
    background-color: #f9fafb;
    border-color: #4b5563;
}

.submit-btn {
    background-color: #4b5563;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #374151;
}
/* Estilos base */
nav {
    background-color: #333;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
}

nav ul li a:hover {
    background-color: #555;
}

/* Estilos para hacer el menú responsive */
.menu-toggle {
    display: none;
    font-size: 24px;
    color: white;
    padding: 14px;
    cursor: pointer;
}

/* Ocultar el menú en pantallas pequeñas y mostrar el ícono de menú */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        display: none;
        width: 100%;
    }

    nav ul.active {
        display: flex;
    }

    nav ul li {
        text-align: center;
    }

    .menu-toggle {
        display: block;
    }
}