body {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.REALLYcontainer{

    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container {
    height: 300px;  
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 50);
}
.left-panel {
    flex: 1;
    background-color: #2f3542;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35%; 
}

.image-container {
    width: 100px;
    height: 100px;
    background-color: #a4b0be;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.image-placeholder {
    font-size: 14px;

}

.right-panel {
    flex: 1;
    background-color: #dfe4ea;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #57606f;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #2f3542;
}
/* Estilos base */
nav {
    background-color: #333;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
}

nav ul li a:hover {
    background-color: #555;
}

/* Estilos para hacer el menú responsive */
.menu-toggle {
    position: absolute;
    
    font-size: 24px;
    color: white;
    padding: 14px;
    cursor: pointer;
}

/* Ocultar el menú en pantallas pequeñas y mostrar el ícono de menú */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        display: none;
        width: 100%;
    }

    nav ul.active {
        display: flex;
    }

    nav ul li {
        text-align: center;
    }

    .menu-toggle {
        display: block;
    }
}